<launch>

  <arg name="length" default="0" />

  <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="davros" value="true"/>   
        <arg name="davros_length" value="$(arg length)"/>        
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen"
      args="-d $(find davros_description)/config/davros.rviz" >
  </node>


</launch>
